body {
  font-family: "Open Sans Light","Droid Arabic Naskh","Mplus Fulah Light",sans-serif;
  color: #FFF;
  margin: 0;
}

h2, h3, h4, h5, h6, .large, .bugs-counts {
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-weight: 100;
}

.large {
  font-size: 4.5rem;
  letter-spacing: -0.188rem;
}

h1 {
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: -0.125rem;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.063rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.031rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: -0.016rem;
}

.small, small {
  font-size: 0.75rem;
}

main {
  position: relative;
  margin: 0;
  width: 100%;
}

.overview {
  padding-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: calc(100vh - 6rem);
  background-position: 0 0, 0 0, 0 0;
  background-color: #00539F;
  background-image: url('./images/header-background.png'), url('./images/blueprint.png'), url('./images/mdn-header-gradient.png');
  background-repeat: repeat, repeat, repeat-x;
  box-shadow: 0px -10px 5px 15px #333;
}

.overview > p {
  text-align: center;
  margin-top: 6rem;
}

.component {
  border: 0.1rem solid;
  border-left: 0.5rem solid;
  margin: 0 auto 1rem;
  color: #484848;
}

.component h2 {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5rem 0 0.25rem 3rem;
}

.component p {
  margin: inherit 2rem;
}

.component a, .component a:link, .component a:visited {
  color: #0095DD;
  text-decoration: none;
}

.comment {
  padding: 1rem 0 1rem 0.25rem;
  border: 1px solid #F6F4EC;
  width: calc(70% - 2rem);
  float: left;
}

.score {
  float: right;
  width: calc(30% - 2rem);
}

.score > span {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  color: #9A0;
}

.bugs {
  clear: both;
}

.bugs-counts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.bugs-counts .bug-count{
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

.bug-count-label {
  font-weight: normal;
}

.total-bugs, .open-bugs {
  font-size: 1.3rem;
  font-weight: 700;
}

.total-bugs {
  border-color: #E66000;
}

.open-bugs {
  border-color: #00539F;
}

.resolved-bugs {
  border-color: #30A923;
}

.priority-1-bugs {
  border-color: #EA3B28;
}

.priority-2-bugs {
  border-color: #C13832;
}

p.new-bug {
  text-align: right;
}

.new-bug a, .new-bug a:link, .new-bug a:visited {
  color: #FFF;
  background-color: #0095DD;
  padding: 0.5rem;
}

.component .component-section {
  background: none repeat scroll 0 0 #FFF;
  margin: 0;
  padding: 1rem;
}

.bugs-list {
  margin-top: 1rem;
}

.bugs-list-item {
  display: inherit;
  padding: 0.5rem 0 0.5rem 0.25rem;
  border: 1px solid #F6F4EC;
}

.bugs-list-label {
  font-size: 1.75rem;
  letter-spacing: -0.031rem;
  font-weight: 100;
}

.bugs-list-item:nth-child(2n) {
  background-color: #F6F4EC;
}

.system h2 {
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/system/style/icons/System_68.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.system, .homescreen, .keyboard, 
.ftu, .search {
  border-color: #6D6F80;
}

.settings h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/settings/style/icons/settings_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.settings {
  border-color: #E0E6EB;
}

.contacts h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/communications/contacts/style/icons/contacts_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.contacts, .dialer, .sms {
  border-color: #00ADAD;
}

.dialer h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/communications/dialer/style/icons/dialer_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.sms h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/sms/style/icons/sms_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.homescreen h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/verticalhome/style/icons/vertical_68.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.keyboard h2, .ftu h2, .search h2{
  background-color: #F6F4EC;
  background-size: 2rem;
}

.music h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/music/style/icons/music_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.music, .video, .camera, .gallery {
  border-color: #0E1214;
}

.gallery h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/gallery/style/icons/gallery_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.video h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/video/style/icons/video_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.calendar h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/calendar/style/icons/calendar_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.email h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/email/style/icons/email_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.calendar, .email {
  border-color: #F97C17;
}

.camera h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/camera/style/icons/camera_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.clock h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/clock/style/icons/clock_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.clock {
  border-color: #101111;
}

.costcontrol h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/costcontrol/style/icons/costcontrol_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.costcontrol {
  border-color: #f4f4f4;
}

.fm h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/fm/style/icons/fm_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.fm {
  border-color: #2F3337;
}
